{% extends "::base.html.twig" %}

{% block title %}Zadanie JWA{% endblock %}



{% block body %}


    <p><b>poprzednie logowanie:</b> 
        {% if log == null %}
            to twoje pierwsze logowanie
        {% else %}

            {{log.loginTime|date('Y-m-d H:i:s')}} 
        {% endif %}
    </p>
    {% for link in links %}
        <a href="{{path(link.href)}}">{{link.text}}</a>
        <br>
        <br>

    {%endfor%}
{% endblock %}
